{% extends 'base.html' %}
{% load static %}
{% block body %}
<main id="main">

  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Project Details</h2>
        <ol>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
          <li>Portfolio Details</li>
        </ol>
      </div>

    </div>
  </section><!-- Breadcrumbs Section -->

  <!-- ======= Portfolio Details Section ======= -->
  <section class="portfolio-details">
    <div class="container">

      <div class="portfolio-details-container">

        <div class="owl-carousel portfolio-details-carousel">
          {% for image in project.image_set.all %}
          <img src="{{ image.url }}" class="img-fluid" alt="Project Images">
          {% endfor %}
        </div>

        <div class="portfolio-info">
          <h3>Project information</h3>
          <ul>
            <li><strong>Category</strong>: {{ project.category }}</li>
            <li><strong>Client</strong>: {{ project.client }}</li>
            <li><strong>Project date</strong>: {{ project.date|date }}</li>
            <li><strong>Project URL</strong>: <a href="{{ project.link }}">{{ project.link }}</a></li>
          </ul>
        </div>
      </div>

      <div class="portfolio-description">
        <h2>{{ project.title }}</h2>
        <p>
          {{ project.desc|safe }}
        </p>
      </div>
    </div>
  </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
{% endblock body %}
